<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .}}
{{uc .Name}}
{{end}}


{{range .}}
{{ft .Name}}
{{end}}

{{range .}}
{{ft .ID}}
{{end}}

</body>
</html>